body,html{

height: 100%;
margin: 0;
padding: 0;

}
.bgimg{

background: url(b.jpg);
height: 100%;
background-position: center;
background-size: cover;
position: relative;
color: white;
/*font-family: prime;*/
}
.middle{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-59%);


}
h1{
font-size: 40px;
/*
letter-spacing: 30px;
font-weight: 100;

*/
width: 400px;
height: 70px;
background-color: aquamarine;
opacity: 0.3;

}
h2{
margin-top: -70px;
color: white;

}
#demo{
font-size: 15px;
/*
background-color: black;
opacity: 0.5;
*/
}
hr{

margin: auto;
width: 80%;
border: 1.5px solid #fff;

}
header{
width: 710px;
height: 70px;
background-color: blue;
margin-top: -70px;
opacity: 0.5;
position: fixed;
}